//fonts
@import url('https://fonts.googleapis.com/css?family=Open+Sans|Roboto&display=swap');

//colors

$mainColor1: #E28438;
$mainColor2: #282F36;
$mainColor3: #792A22;

//font sizes

.font-10{
  font-size: 10px;
}
.font-12{
  font-size: 12px;
}
.font-14{
  font-size: 14px;
}
.font-16{
  font-size: 16px;
}
.font-18{
  font-size: 18px;
}
.font-20{
  font-size: 20px;
}




